.todo-list-item {
  display: flex;
  align-items: center;

  /* width: fit-content; */
  /* max-width: 80vw; */
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  margin-inline: auto;
  color: #ffffff;
  background: -webkit-linear-gradient(
    90deg,
    rgb(102, 102, 102),
    rgb(74, 90, 116) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    rgb(102, 102, 102),
    rgb(74, 90, 116) 100%
  );
  background: linear-gradient(90deg, rgb(102, 102, 102), rgb(74, 90, 116) 100%);

  margin-bottom: 20px;
  transition: 0.2s;
}

.todo-list-item_important {
  color: #ffd45e;
  background-color: #797979;
  border: 3px solid #ffd45e;
}

.todo-list-item__state {
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: none;

  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1;
  margin-right: 25px;

  border: 0;
  border-radius: 10px;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  transition: 0.2s;
}

.todo-list-item__state:active {
  opacity: 50%;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.todo-info__title {
  margin: 0;
  font-weight: 700;
  margin-bottom: 5px;

  max-width: 60%;
  word-wrap: break-word;
}

.todo-info__important-btn {
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  height: fit-content;
  border: 0;

  color: #666666;
  background-color: #ffffff;

  padding: 7px;
  border-radius: 5px;
  font-weight: 700;
  transition: 0.2s;
}

.todo-info__important-btn_active {
  color: #ffd45e;
  background-color: #a0a0a0;
  border: 1px solid #ffd45e;
}

.todo-info__important-btn:active {
  opacity: 0.7;
}

.todo-info__description {
  margin: 0;
  width: 500px;
  word-wrap: break-word;
}
