.todo-list-item {
  display: flex;
  width: 770px;
  box-sizing: border-box;
  align-items: center;
  position: relative;

  padding: 15px;
  border-radius: 15px;
  margin-inline: auto;
  color: #ffffff;

  background: -webkit-linear-gradient(90deg, rgb(208, 208, 208), rgb(161, 161, 161));
  background: -moz-linear-gradient(90deg, rgb(208, 208, 208), rgb(161, 161, 161));
  background: linear-gradient(90deg, rgb(208, 208, 208), rgb(161, 161, 161));

  margin-bottom: 20px;
  transition: 0.2s;
}

.todo-list-item_important {
  color: #8f6900;
  background-color: #797979;
  border: 3px solid #846100;
}

.todo-list-item__state {
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: none;

  width: 100px;
  height: 100px;
  aspect-ratio: 1 / 1;
  margin-right: 25px;

  border: 0;
  border-radius: 10px;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  transition: 0.2s;
}

.todo-list-item__state:active {
  opacity: 50%;
}

.title-container {
  display: inline-flex;
  width: 100%;
  align-items: center;
  gap: 15px;
}

.todo-info {
  width: 50%;
}

.todo-info__title {
  margin: 0;
  font-weight: 700;
  margin-bottom: 5px;

  max-width: 50%;
  word-wrap: break-word;
}

.todo-info__important-btn {
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  height: fit-content;
  border: 0;

  color: #666666;
  background-color: #ffffff;

  padding: 7px;
  border-radius: 5px;
  font-weight: 700;
  transition: 0.2s;
}

.todo-info__important-btn_active {
  color: #ffd45e;
  background-color: #a0a0a0;
  border: 1px solid #ffd45e;
}

.todo-info__important-btn:active {
  opacity: 0.7;
}

.todo-info__date {
  display: block;
  position: absolute;
  right: 10px;
  bottom: 5px;
  color: #ffffff;
}

.todo-info__description {
  margin: 0;
  word-wrap: break-word;
}

.todo-list-item__close-btn {
  position: absolute;

  right: 0.7%;
  top: 2%;
}

@media (max-width: 1200px) {
  .todo-list-item {
    max-width: 80%
  }

  .todo-list-item__state {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 768px) {
  .todo-list-item {
    padding: 5px;
  }

  .todo-info__important-btn {
    font-size: 0.5em;
    padding: 5px;
  }
}

@media (max-width: 576px) {
  .todo-list-item__state {
    width: 45px;
    height: 45px;
  }

  .todo-list-item__close-btn {
    font-size: 1.5em;
    right: 5px;
  }
}