.aside-section {
  padding: 20px;
  position: fixed;
  background-color: #ffffff;
  height: 100vh;
  width: 90px;
  z-index: 2;
  transition: width 0.5s;
}

.aside-section_opened {
  max-width: 60vw;
  width: 300px !important;
}

.aside-overlay {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
  z-index: 1;
}

.main-btns__btn-name {
  display: none;
}

.aside-section_opened .main-btns__btn-name {
  display: inline;
}

.aside-section__burger-btn {
  padding: 6px;
  margin-bottom: 20px;
}

.search-form-container {
  position: relative;
  margin-bottom: 20px;
}

.search-form__input {
  width: 100%;
  padding: 0.75rem 3rem 0.75rem 0.75rem;
  border-radius: 30px;

  outline: 0;
  background-color: #ffffff;
  border: 1px #69afff solid;
}

.search-form__btn {
  position: absolute;
  right: 0.4rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
  font-size: 1.1rem;
}

.main-btns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-btns__btn {
  display: flex;
  justify-content: start;
  width: 52px;
  gap: 12px;
  align-items: center;

  border: 1px #69afff solid;
  padding: 10px;
  border-radius: 15px;

  transition: 0.1s;
}
.aside-section_opened .main-btns__btn {
  width: auto;
}

.main-btns__create-btn {
  background: -webkit-linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgb(105, 175, 255) 88%
  );
  background: -moz-linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgb(105, 175, 255) 88%
  );
  background: linear-gradient(
    270deg,
    rgb(255, 255, 255),
    rgb(105, 175, 255) 88%
  );
  color: #fff;

  box-shadow: 0 0 20px 1px rgb(105, 175, 255);
}

@media (max-width: 768px) {
  .aside-section {
    width: 62px;
    padding: 15px 5px 0;
  }
}
