.calendar__title {
    color: #525252;
    font-weight: 600;
    margin-bottom: 20px;
}

.date-select {
    display: flex;
    justify-content: space-between;
    gap: 7px;
    margin-bottom: 20px;
}

.date-select select {
    padding: 10px 0;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .calendar__title {
        font-size: 2.5em;
    }
}