.app {
  display: flex;
}

.dark-mode .todo-list-item {
    background: -webkit-linear-gradient(
    90deg,
    rgb(102, 102, 102),
    rgb(74, 90, 116) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    rgb(102, 102, 102),
    rgb(74, 90, 116) 100%
  );
  background: linear-gradient(90deg, rgb(102, 102, 102), rgb(74, 90, 116) 100%);
}

.dark-mode .todo-list-item_important {
  color: #ffd04d;
  background-color: #797979;
  border: 3px solid #ffd051;
}

.dark-mode .aside-section {
  background-color: #434343;
}

.dark-mode .main-btns__btn {
  color: #ffffff;
  border-color: rgb(255, 92, 92);
}

.dark-mode .main-btns__create-btn {
  background: -webkit-linear-gradient(90deg, rgb(122, 0, 0), rgb(255, 92, 92));
  background: -moz-linear-gradient(90deg, rgb(122, 0, 0), rgb(255, 92, 92));
  background: linear-gradient(90deg, rgb(122, 0, 0), rgb(255, 92, 92));

  box-shadow: 0 0 20px 1px rgb(255, 92, 92);
}

.dark-mode .search-form__input {
  background-color: #434343;
  color: #ffffff
}

main {
  margin-inline: auto;
}

.gradient-color {
  background: -webkit-linear-gradient(
    45deg,
    rgb(255, 90, 17),
    rgb(0, 154, 255) 100%
  );
  background: -moz-linear-gradient(
    45deg,
    rgb(255, 90, 17),
    rgb(0, 154, 255) 100%
  );
  background: linear-gradient(45deg, rgb(255, 90, 17), rgb(0, 154, 255) 100%);

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.todo-title {
  font-size: 4em;

  width: fit-content;
  border-radius: 30px;
  margin: 20px auto;
}

.tasks-placeholder {
  font-size: 1.5em;
  width: fit-content;
  border-radius: 30px;
  margin-inline: auto;
}
